<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!-- ICONOS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> 
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- FUENTE ROBOTO -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <!-- ESTILOS PROPIOS -->
    <link rel="stylesheet" href="/css/styles.css"> 
  </head>
  <body>
    <header class="main-header">
      <div class="main-header-top-bar">
        <img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="logo">
        <div class="form" action="#" method="GET">
          <div class="input">Buscar productos, marcas y más <i class="fa fa-search"></i></div>
        </div>
        <h2 class="copy-header">
          <i class="fas fa-hand-holding-usd"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </h2>
      </div>
      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="rigth-navbar">
          <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
          <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
          <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
      </nav>
      <a href="#" class="hamburger-menu">
        <i class="fa fa-bars burger"></i>
      </a>
    </header>
    <section class="banner">
      <img src="/img/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main>
      <section class="last-visit">
        <h2>Basado en tu última visita</h2>
        <div class="products">
          <img src="/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
          <div>
            <p id="precio">$6.770</p>   
            <p>40% off</p>
            <h3>
              Cafetera Moulinex
            </h3>
          </div>
          <img src="/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
          <div>
            <p>$230.000</p>
            <p>20% off</p>
            <h3>
              MacBook Pro 2019
            </h3>
          </div>
          <img src="/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
          <div>
            <p>$70.500</p>
            <p>10% off</p>
            <h3>
              Samsung Galaxy S10
            </h3>
          </div>
          <img src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
          <div>
            <p>$23.200</p>
            <p>5% off</p>
            <h3>
              Smart TV Samsung de 43"
            </h3>
          </div>
        </div>
      </section>
        <h2>
          Seccion de ofertas
        </h2>
        <img src="/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
        <div>
          <p>$6.770</p>
          <p>40% off</p>
          <h3>
            Cafetera Moulinex
          </h3>
        </div>
        <img src="/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
        <div>
          <p>$230.000</p>
          <p>20% off</p>
          <h3>
            MacBook Pro 2019
          </h3>
        </div>
        <img src="/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
        <div>
          <p>$70.500</p>
          <p>10% off</p>
          <h3>
            Samsung Galaxy S10
          </h3>
        </div>
        <img src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
        <div>
          <p>$23.200</p>
          <p>5% off</p>
          <h3>
            Smart TV Samsung de 43"
          </h3>
        </div>
      <section>
      </section>
    </main>
    <footer>
      <section>
        <h3>
          Pagá con tarjeta o en efectivo
        </h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
  puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section>
        <h3>
          Envío gratis desde $ 2.500
        </h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
  productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section>
        <h3>
          Seguridad, de principio a fin
        </h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
  porque estás siempre protegid@.
        </p>
      </section>
      <section>
        <p>
          Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>
      </section>
    </footer>
  </body>
</html>