*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
}

header {
  background-color: #EAC926;
}

.top-header {
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo{
  width: 50%;
  padding: 10px;
}

header div.form {
  width: 50%;
  display: flex;
  margin: auto;
  height: 20px;
}

header div.form input {
  width: 100%;
}

.burger-menu i {
  background-color: #03264c;
  color: #FFF;
  max-width: 50px;
  padding: 15px 15px;
  border-radius: 8px;
  margin: 10px 0px 20px 0px;
}

.burger-menu {
  text-align: center;
}

.main-navbar {
  display: none;
}

.main-navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navbar a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 0;
  font-size: 17px;
}

p{
  font-size: 12px;
}

header nav{
  font-size: 12px;
}

header ul li{
  list-style-type: none;
}

header ul li a{
  text-decoration: none;
  color: #000;
}

header .form .input{
  background-color: #FFF;
  border: 1px solid #000;
  outline: none;
  color: #666;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

header .form .submit{
  background-color: #FFF;
  color: #666;
  width: 10%;
}

header div.top-header p{
  width: 100%;
  text-align: center;
  margin-top: 12px;
}

.banner img {
  width: 100%;
}

main {
  width: 90%;
  margin: auto;
}

article div.main-article{
  width: 100%;
}

.price{
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

main section article{
    background-color: #fff;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    width: 90%;
    flex-direction: column;
    align-items: center;
}

main section article img{
  width: 100%;
}

.product-description {
  display: flex;
  flex-direction: column;
  border: 1px solid #ebebeb;
  line-height: 20px;
  padding: 15px;
  position: relative;
}

.product-description p {
  display: contents;
}

p.discount {
  width: 70%;
}

main section article i,
.discount{
  color: #39b54a;
  font-size: 16px;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

main section article h3 {
  font-size: 16px;
  color: #999;
  line-height: 30px;
  display: none;
}

footer {
  background-color: #FFF;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer section {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

footer i {
  color: blue;
  margin: 10px;
}

footer section h3 {
  font-size: 16px;
  color: #999;
}

footer section p {
  width: 60vw;
  color: #999;
}


footer section h4 {
  font-size: 12px;
  color: #999;
}

/* FORMULARIOS */

section.form-login div input {
  width: 100%;
  height: 31px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
}

div.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.profile label {
  margin: auto;
  display: flex;
  align-items: center;
}

div.profile label input {
  margin: 0px 30px;
}

div.interests {
  display: flex;
}

form.interests {
  display: flex;
  flex-direction: column;
}

div.interests label {
  margin: 10px;
  display: flex;
  align-items: center;
}

div.interests label input {
  height: 14px;
  width: 10%;
  margin: 10px;
}

div.button {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

div.button button {
  background-color: blue;
  color: white;
  width: 40%;
}

.h2-register {
  font-size: 14px;
  margin-top: 10px;
}

@media (min-width: 361px) {

  .logo {
    width: 30%;
  }

  .top-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  header div.top-header p {
    width: 80%;
    font-size: 14px;
    margin-top: 26px;
  }

  main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-bottom: 20px;
    width: 40%;
    margin-left: 20px;
  }

  .main-navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-top: 10px;
  }

  main section article h3 {
    display: flex;
  }

  .burger-menu {
    display: none;
  }

  .main-navbar ul {
    display: flex;
    margin: 0px 20px 0px 20px;
    width: 40%;
    justify-content: space-between;
  }

  .main-navbar li {
    margin: 5px;
    font-size: 14px;
  }

  .main-navbar a {
    font-size: 14px;
  }

  section.last-visit {
    display: flex;
    flex-wrap: wrap;
  }

  section.offers {
    display: flex;
    flex-wrap: wrap;
  }

  h2 {
    margin: 20px;
  }
}

@media (min-width: 769px) {
  .logo {
    width: 30%;
    display: flex;
  }
  .top-header {
    display: flex;
    flex-direction: row;
  }

  main section article {
    width: 23%;
    margin-left: 10px;
  }
}